<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logPrefix" value="*****************************" />
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <!--指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean-->
        <package name="com.chenkezhao.clientinf.entity"/>
        <package name="com.chenkezhao.mobile.androidinf.entity"/>
        <package name="com.chenkezhao.mobile.mpinf.entity"/>
        <package name="com.chenkezhao.test"/>
    </typeAliases>
    <plugins>
        <!--
        分页插件 https://www.cnblogs.com/EasonJim/p/7056270.html
        注意：这个插件定义了一个规则，也就是在mapper中SQL语句的id必须包含ListPage才能被拦截。否则将不会分页处理。
         -->
        <plugin interceptor="com.chenkezhao.framework.mybatis.PagePlugin">
            <property name="dialect" value="mysql" />
            <property name="pageSqlId" value=".*PageList.*" />
        </plugin>
    </plugins>
    <mappers>
        <!-- Register all interfaces in a package as mappers -->
        <!--
        <package name="mybatis.mapper"/>
        在application.properties里配置mybatis.mapperLocations
        -->
        <!--<mapper resource="mybatis/mapper/CategoryMapper.xml"/>-->
    </mappers>
</configuration>