<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.chenkezhao.clientinf.dao.ImgListDao">

	<!--
	高级查询，一般用不上：http://www.mybatis.org/mybatis-3/zh/sqlmap-xml.html
	一般，别名就够用了：http://www.mybatis.org/mybatis-3/zh/configuration.html#typeAliases

	<resultMap id="imgListResultMap" type="com.chenkezhao.clientinf.entity.ImgList">
        <result property="id" column="ID"/>
        <result property="fruitid" column="FRUITID"/>
        <result property="seqno" column="SEQNO"/>
        <result property="istop" column="ISTOP"/>
        <result property="status" column="STATUS"/>
        <result property="imgpath" column="IMGPATH"/>
        <result property="remark" column="REMARK"/>
	</resultMap>
	-->
	<!-- 插入一条角色记录 -->
	<insert id="insert" parameterType="imgList">
		INSERT INTO T_FT_IMG_LIST (
        	FRUITID ,
        	SEQNO ,
        	ISTOP ,
        	STATUS ,
        	IMGPATH ,
        	REMARK 
		) VALUES (
        	#{fruitid} ,
        	#{seqno} ,
        	#{istop} ,
        	#{status} ,
        	#{imgpath} ,
        	#{remark} 
		 )
	</insert>

	<!-- 根据主键更新菜单 -->
	<update id="update" parameterType="imgList">
		 UPDATE T_FT_IMG_LIST SET
	        FRUITID = #{fruitid} ,
	        SEQNO = #{seqno} ,
	        ISTOP = #{istop} ,
	        STATUS = #{status} ,
	        IMGPATH = #{imgpath} ,
	        REMARK = #{remark} 
        WHERE
	        ID = #{id} 
	</update>

	<!-- 删除  -->
	<delete id="delete">
		DELETE FROM T_FT_IMG_LIST WHERE
        ID = #{id} 
    </delete>

	<!-- T_FT_IMG_LIST列表-查询条件 -->
	<sql id="queryImgListForManage_where">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="@Ognl@isNotEmpty(id)">
			AND ID = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(fruitid)">
			AND FRUITID = #{fruitid}
			</if>
			<if test="@Ognl@isNotEmpty(seqno)">
			AND SEQNO = #{seqno}
			</if>
			<if test="@Ognl@isNotEmpty(istop)">
			AND ISTOP = #{istop}
			</if>
			<if test="@Ognl@isNotEmpty(status)">
			AND STATUS = #{status}
			</if>
			<if test="@Ognl@isNotEmpty(imgpath)">
			AND IMGPATH = #{imgpath}
			</if>
			<if test="@Ognl@isNotEmpty(remark)">
			AND REMARK = #{remark}
			</if>
		</trim>
	</sql>

	<!-- T_FT_IMG_LIST列表 -->
	<select id="queryImgListPageList" parameterType="hashmap" resultType="imgList">
	   select *
		  from T_FT_IMG_LIST
		<include refid="queryImgListForManage_where" />
	</select>

	<!--根据id查询-->
	<select id="getById" parameterType="String" resultType="imgList">
		SELECT * FROM T_FT_IMG_LIST
	        WHERE
		        ID = #{id} 

	</select>

</mapper>
