<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.chenkezhao.clientinf.dao.SetmealDao">

	<!--
	高级查询，一般用不上：http://www.mybatis.org/mybatis-3/zh/sqlmap-xml.html
	一般，别名就够用了：http://www.mybatis.org/mybatis-3/zh/configuration.html#typeAliases

	<resultMap id="setmealResultMap" type="com.chenkezhao.clientinf.entity.Setmeal">
        <result property="id" column="ID"/>
        <result property="fruitid" column="FRUITID"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="oldprice" column="OLDPRICE"/>
        <result property="price" column="PRICE"/>
        <result property="status" column="STATUS"/>
        <result property="count" column="COUNT"/>
        <result property="creater" column="CREATER"/>
        <result property="creatername" column="CREATERNAME"/>
        <result property="creatertime" column="CREATERTIME"/>
        <result property="modify" column="MODIFY"/>
        <result property="modifyname" column="MODIFYNAME"/>
        <result property="modifytime" column="MODIFYTIME"/>
        <result property="remark" column="REMARK"/>
        <result property="extend1" column="EXTEND1"/>
        <result property="extend2" column="EXTEND2"/>
        <result property="extend3" column="EXTEND3"/>
	</resultMap>
	-->
	<!-- 插入一条角色记录 -->
	<insert id="insert" parameterType="setmeal">
		INSERT INTO T_FT_SETMEAL (
        	FRUITID ,
        	DESCRIPTION ,
        	OLDPRICE ,
        	PRICE ,
        	STATUS ,
        	COUNT ,
        	CREATER ,
        	CREATERNAME ,
        	CREATERTIME ,
        	MODIFY ,
        	MODIFYNAME ,
        	MODIFYTIME ,
        	REMARK ,
        	EXTEND1 ,
        	EXTEND2 ,
        	EXTEND3 
		) VALUES (
        	#{fruitid} ,
        	#{description} ,
        	#{oldprice} ,
        	#{price} ,
        	#{status} ,
        	#{count} ,
        	#{creater} ,
        	#{creatername} ,
        	#{creatertime} ,
        	#{modify} ,
        	#{modifyname} ,
        	#{modifytime} ,
        	#{remark} ,
        	#{extend1} ,
        	#{extend2} ,
        	#{extend3} 
		 )
	</insert>

	<!-- 根据主键更新菜单 -->
	<update id="update" parameterType="setmeal">
		 UPDATE T_FT_SETMEAL SET
	        FRUITID = #{fruitid} ,
	        DESCRIPTION = #{description} ,
	        OLDPRICE = #{oldprice} ,
	        PRICE = #{price} ,
	        STATUS = #{status} ,
	        COUNT = #{count} ,
	        CREATER = #{creater} ,
	        CREATERNAME = #{creatername} ,
	        CREATERTIME = #{creatertime} ,
	        MODIFY = #{modify} ,
	        MODIFYNAME = #{modifyname} ,
	        MODIFYTIME = #{modifytime} ,
	        REMARK = #{remark} ,
	        EXTEND1 = #{extend1} ,
	        EXTEND2 = #{extend2} ,
	        EXTEND3 = #{extend3} 
        WHERE
	        ID = #{id} 
	</update>

	<!-- 删除  -->
	<delete id="delete">
		DELETE FROM T_FT_SETMEAL WHERE
        ID = #{id} 
    </delete>

	<!-- T_FT_SETMEAL列表-查询条件 -->
	<sql id="querySetmealForManage_where">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="@Ognl@isNotEmpty(id)">
			AND ID = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(fruitid)">
			AND FRUITID = #{fruitid}
			</if>
			<if test="@Ognl@isNotEmpty(description)">
			AND DESCRIPTION = #{description}
			</if>
			<if test="@Ognl@isNotEmpty(oldprice)">
			AND OLDPRICE = #{oldprice}
			</if>
			<if test="@Ognl@isNotEmpty(price)">
			AND PRICE = #{price}
			</if>
			<if test="@Ognl@isNotEmpty(status)">
			AND STATUS = #{status}
			</if>
			<if test="@Ognl@isNotEmpty(count)">
			AND COUNT = #{count}
			</if>
			<if test="@Ognl@isNotEmpty(creater)">
			AND CREATER = #{creater}
			</if>
			<if test="@Ognl@isNotEmpty(creatername)">
			AND CREATERNAME = #{creatername}
			</if>
			<if test="@Ognl@isNotEmpty(creatertime)">
			AND CREATERTIME = #{creatertime}
			</if>
			<if test="@Ognl@isNotEmpty(modify)">
			AND MODIFY = #{modify}
			</if>
			<if test="@Ognl@isNotEmpty(modifyname)">
			AND MODIFYNAME = #{modifyname}
			</if>
			<if test="@Ognl@isNotEmpty(modifytime)">
			AND MODIFYTIME = #{modifytime}
			</if>
			<if test="@Ognl@isNotEmpty(remark)">
			AND REMARK = #{remark}
			</if>
			<if test="@Ognl@isNotEmpty(extend1)">
			AND EXTEND1 = #{extend1}
			</if>
			<if test="@Ognl@isNotEmpty(extend2)">
			AND EXTEND2 = #{extend2}
			</if>
			<if test="@Ognl@isNotEmpty(extend3)">
			AND EXTEND3 = #{extend3}
			</if>
		</trim>
	</sql>

	<!-- T_FT_SETMEAL列表 -->
	<select id="querySetmealPageList" parameterType="hashmap" resultType="setmeal">
	   select *
		  from T_FT_SETMEAL
		<include refid="querySetmealForManage_where" />
	</select>

	<!--根据id查询-->
	<select id="getById" parameterType="String" resultType="setmeal">
		SELECT * FROM T_FT_SETMEAL
	        WHERE
		        ID = #{id} 

	</select>

</mapper>
