<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.chenkezhao.clientinf.dao.UserSearchKeywordRecordDao">

	<!--
	高级查询，一般用不上：http://www.mybatis.org/mybatis-3/zh/sqlmap-xml.html
	一般，别名就够用了：http://www.mybatis.org/mybatis-3/zh/configuration.html#typeAliases

	<resultMap id="userSearchKeywordRecordResultMap" type="com.chenkezhao.clientinf.entity.UserSearchKeywordRecord">
        <result property="id" column="ID"/>
        <result property="userid" column="USERID"/>
        <result property="keyword" column="KEYWORD"/>
        <result property="creatertime" column="CREATERTIME"/>
	</resultMap>
	-->
	<!-- 插入一条角色记录 -->
	<insert id="insert" parameterType="userSearchKeywordRecord">
		INSERT INTO T_FT_USER_SEARCH_KEYWORD_RECORD (
        	USERID ,
        	KEYWORD ,
        	CREATERTIME 
		) VALUES (
        	#{userid} ,
        	#{keyword} ,
        	#{creatertime} 
		 )
	</insert>

	<!-- 根据主键更新菜单 -->
	<update id="update" parameterType="userSearchKeywordRecord">
		 UPDATE T_FT_USER_SEARCH_KEYWORD_RECORD SET
	        USERID = #{userid} ,
	        KEYWORD = #{keyword} ,
	        CREATERTIME = #{creatertime} 
        WHERE
	        ID = #{id} 
	</update>

	<!-- 删除  -->
	<delete id="delete">
		DELETE FROM T_FT_USER_SEARCH_KEYWORD_RECORD WHERE
        ID = #{id} 
    </delete>

	<!-- T_FT_USER_SEARCH_KEYWORD_RECORD列表-查询条件 -->
	<sql id="queryUserSearchKeywordRecordForManage_where">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="@Ognl@isNotEmpty(id)">
			AND ID = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(userid)">
			AND USERID = #{userid}
			</if>
			<if test="@Ognl@isNotEmpty(keyword)">
			AND KEYWORD = #{keyword}
			</if>
			<if test="@Ognl@isNotEmpty(creatertime)">
			AND CREATERTIME = #{creatertime}
			</if>
		</trim>
	</sql>

	<!-- T_FT_USER_SEARCH_KEYWORD_RECORD列表 -->
	<select id="queryUserSearchKeywordRecordPageList" parameterType="hashmap" resultType="userSearchKeywordRecord">
	   select *
		  from T_FT_USER_SEARCH_KEYWORD_RECORD
		<include refid="queryUserSearchKeywordRecordForManage_where" />
	</select>

	<!--根据id查询-->
	<select id="getById" parameterType="String" resultType="userSearchKeywordRecord">
		SELECT * FROM T_FT_USER_SEARCH_KEYWORD_RECORD
	        WHERE
		        ID = #{id} 

	</select>

</mapper>
